- var accueil=true
include ../variables.jade
doctype html
html
    head
        meta(charset='UTF-8')
        meta(name='description' content= 'Innovent dans sa manière de présenter l’information, les services que vous propose le nouveau site, la joie de livre, vous laissera sans mots. Vous pourrez aisément rechercher un livre depuis plusieurs bibliothèques. ')
        meta(name='keywords' content= 'la joie de livre,LA JOIE DE LIVRE,bibliothèques,Bibliothèques,Bibliothèque, livres,Livres, nationnal, belge, Belgique')
        meta(name='author' content= 'Daniel schreurs')
        meta(name='viewport' content='width=device-width')
        
        meta(name='viewport' content='width=device-width, initial-scale=1.0') 
        link(rel='apple-touch-icon' sizes='57x57' href='./img/favicons/apple-touch-icon-57x57.png')
        link(rel='apple-touch-icon' sizes='60x60' href='./img/favicons/apple-touch-icon-60x60.png')
        link(rel='apple-touch-icon' sizes='72x72' href='./img/favicons/apple-touch-icon-72x72.png')
        link(rel='apple-touch-icon' sizes='76x76' href='./img/favicons/apple-touch-icon-76x76.png')
        link(rel='apple-touch-icon' sizes='114x114' href='./img/favicons/apple-touch-icon-114x114.png')
        link(rel='apple-touch-icon' sizes='120x120' href='./img/favicons/apple-touch-icon-120x120.png')
        link(rel='apple-touch-icon' sizes='144x144' href='./img/favicons/apple-touch-icon-144x144.png')
        link(rel='apple-touch-icon' sizes='152x152' href='./img/favicons/apple-touch-icon-152x152.png')
        link(rel='apple-touch-icon' sizes='180x180' href='./img/favicons/apple-touch-icon-180x180.png')
        link(rel='icon' type='image/png' href='./img/favicons/favicon-32x32.png' sizes='32x32')
        link(rel='icon' type='image/png' href='./img/favicons/favicon-194x194.png' sizes='194x194')
        link(rel='icon' type='image/png' href='./img/favicons/favicon-96x96.png' sizes='96x96')
        link(rel='icon' type='image/png' href='./img/favicons/android-chrome-192x192.png' sizes='192x192')
        link(rel='icon' type='image/png' href='./img/favicons/favicon-16x16.png' sizes='16x16')
        link(rel='manifest' href='./img/favicons/manifest.json')
        meta(name='msapplication-TileColor' content='\#da532c')
        meta(name='msapplication-TileImage' content='/mstile-144x144.png')
        link(rel='stylesheet' href='css/style.css' type='text/css')
        title La joie de livre | accueil
    body
        include ../essentials/header.jade            
        main
            form(class="form_recherche" name="global")
                input(type="search" list="tous" required placeholder="Un livre, un auteur" name="recherche"  id="recherche")
                datalist(id="tous")
                    each val in auteurs
                        option(value=val)=val
                select(name="blibliotheque")
                    each val in nosLieux
                        option(value="Chiroux" title="Selectionner votre blibliotheque")=val
                input(type="submit" value="Rechercher !" )
            nav(class="main_nav_Bibli_Small")    
                ul
                    each val in listeMenu
                        li
                            a(href="#" title="affiche tous les "+val)="tous les "+val
                
            h2 Derniers ajoutés
            ul(class="liste_livres")
                each val in listeLivres
                    li
                        h3
                            a(href="#" title="Renvois vers une page avec uniquement le livre "+val)= val
                        img(src='./img/andreBreton/andre_breton_anthologie_de_lhumour_noir.jpg' alt="première du livre"+val width="180" height="270" )

                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur metus neque, semper m mattis tristique, tempor non turpis. Ut enim diam, venenatis non ipsum at, placerat dictum nisi. Vestibulum finibus, nulla nec molestie aliquam, libero augue mattis elit, sed cursus nisl purus ac mauris. Phasellus eget lectus augue. Donec vel risus orci. Phasellus ut ultrices ligula. Curabitur sodales dolor vel lacus sollicitudin, sit amet tempor nulla volutpattristique, tempor non turpis. Ut enim diam, venenatis non ipsum at, placerat dictum nisi. Vestibulum finibus, nulla nec molestie aliquam, libero augue mattis elit, sed cursus nisl purus ac mauris. Phasellus eget lectus augue. Donec vel risus orci. Phasellus ut ultrices ligula. Curabitur sodales dolor vel lacus sollicitudin, sit amet tempor nulla volutpat

                        dl(class="info_Livre clearfix")
                            each val, index in listedef
                                dt=index
                                dd
                                    a(href="#" title="Renvois vers une page qui reprend tous les "+index+"s de "+val)= val 
        include ../essentials/footer.jade